* {
  margin: 0;
  padding: 0;
}

#password-progress-container {
  width: 100%;
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
}

#password-progress-bar {
  height: 100%;
  width: 0%;
  background-color: red;
  border-radius: 10px;
  transition: width 0.3s, background-color 0.3s;
}
